*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    // border: 1px solid red;
}
.container-fluid{
    width: 96%;
    margin: auto;
}
.container-fluid{
    width: 96%;
    margin: auto;
    .row{
        .col{
            .card{
                border: none;
                .card-body{
                    .card-text{
                        small{
                            font-size: 10px;
                            a{
                                text-decoration: none;
                                color: rgb(121, 123, 124);
                            }
                        }
                    }
                    .card-title{
                        a
                        {
                            text-decoration: none;
                            color: #000000;
                        }
                        a:hover{
                            color: rgba(29, 29, 250, 0.896)
                        }
                    }
                    
                }
                hr{
                    border: 1px dotted;
                }
            }
            
        }
    }
    .horizontal-line{
        hr{
           border: 4px dotted;
        }
        
    }
}
